.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 69vh;
  width: 100%vh;
  background-color: hsl(118, 81%, 25%);
  color: white;
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  padding-top: 20px;
}

.container h1 {
  text-align: center;
}

.container h2 {
  text-align: left;
  width: 100%;
  margin-top: 20px;
  padding-left: 100px;
}

.container h6 {
  text-align: left;
  width: 100%;
  margin-top: 10px;
  padding-left: 100px;
}
